doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    
    link(rel="stylesheet", href="dashboard.css")
    title #{ title }
  body 
    #dashboard
      #dashboard-wrap
        .logout
          a(href="/logout") Log Out 
          button(onclick="handleDelete()") Delete Account
        table
          tr.header
            td.id ID
            td.username Username 
            td.email Email 
            td.created Dibuat 
          tr.body
            td.id #{ userDetails.id }
            td.username #{ userDetails.username }
            td.email #{ userDetails.email } 
            td.created #{ created } 

    script(src="./handleDelete.js") 